## for loops
a for loop in Python is used to iterate over a sequence (such as a list, tuple, string, or range).

### Iterating Over a List

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

###  Iterating over a String

In [2]:
for char in "hello":
    print(char)

h
e
l
l
o

In [3]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### The range() Function

In [4]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [5]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [6]:
for x in range(2, 30, 3):   #he sequence starts at 2 and increments by 3 each time until it reaches or exceeds 30
  print(x)

2
5
8
11
14
17
20
23
26
29

In [7]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

### Iterating with Index

In [8]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

### Iterating over Keys

In [9]:
person = {"name": "John", "age": 30, "city": "New York"}
for key in person:
    print(key)

name
age
city

### Loop Control Statements

In [10]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [12]:
for i in range(5):
    print(i)
else:
    print("Loop completed without break")

0
1
2
3
4
Loop completed without break

In [13]:
numbers = [1, 2, 3, 4, 5]     #Summing Numbers in a List
total = 0
for num in numbers:
    total += num
print("Total:", total)

Total: 15

In [14]:
numbers = [1, 2, 3, 4, 5]    #Finding the Maximum Value in a List
max_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
print("Max Value:", max_value)

Max Value: 5