### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
#### Exercise: #1 - Python Fundamentals
*****************************

### Step 1 - Variables and Data Types

Create the following variables:<br> 
num1=100<br>
num2=300.0<br>
str1="I would to learn data science"<br>
list1=['A', 'B', 'C']<br>
bol1=True

In [2]:
num1 = 100
num2 = 300.0
str1="I would to learn data science"
list1=['A','B','C']
bol1=True

Check the type of each variable that you created using the type() function. <br>

In [7]:
print(type(num1))
print(type(num2))
print(type(str1))
print(type(list1))
print(type(bol1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

Print the value of each variable using the print() function.

In [8]:
print(num1)
print(num2)
print(str1)
print(list1)
print(bol1)

100
300.0
I would to learn data science
['A', 'B', 'C']
True

Using one line assign the same value "100" to the following variables: num1, num2, num3.

In [9]:
num1=num2=num3="100"

Using one line assign the following values to the following variables: num1=10, num2=20, num3=30.

In [10]:
num1,num2,num3=10,20,30

Check the size of the str1 string variable.

In [11]:
string1_length=len(str1)
print(string1_length)

29

Print in upper case and also in lower case the str1 variable (tip - use the tab completion to see the list of methods).

In [13]:
print(str1.upper())

I WOULD TO LEARN DATA SCIENCE

Print the result (True or False) of checking if the text "data" exist in str1 using the in operator.

In [14]:
print(str1.lower())

i would to learn data science

Split str1 into substrings using the split method and store the result in a list variable called list1. Print list1.

In [17]:
list1=(str1.split())
print(list1)

['I', 'would', 'to', 'learn', 'data', 'science']

Define the following variables: Name='David', Phone='12345678'
and then print the following message using the the f-string formatting: "My name is David and my phone number is 12345678"

In [20]:
name="david"
phone=12345678
print(f"my name is {name} and my phone number is {phone}")

my name is david and my phone number is 12345678

### Step 2 - Lists

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [21]:
colors=['red','yellow','green','black','white']
print(colors)

['red', 'yellow', 'green', 'black', 'white']

Print the second color in the colors list.

In [22]:
print(colors[1])

yellow

Sort and print the colors list in alphabetical order using the sort method.

In [27]:
colors.sort()
print(colors)

['black', 'green', 'red', 'white', 'yellow']

Add the the "Blue" color to the colors list and print the updated list.

In [29]:
colors.append("blue")
print(colors)

['black', 'green', 'red', 'white', 'yellow', 'blue', 'blue']

Remove the color 'Green' from the list by using the value and print the updated list.

In [31]:
colors.remove("green")
print(colors)

['black', 'red', 'white', 'yellow', 'blue', 'blue']

Check the size of a list.

In [32]:
print(len(colors))

6

Create the following two lists: list1 = ['A','B','C'], list2 = ['D','E','F','G'] and then concatenate the two lists into list3 by using the + operator. Print list3.

In [33]:
list1=['A','B','C']
list2=['D','E','F','G']
list3=list1+list2
print(list3)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Print items 'B', 'C' and 'D' from list3 using the slicing notation.

In [35]:
print(list3[1:4])

['B', 'C', 'D']

Print items 'C' until the end of list3 using the slicing notation.

In [36]:
print(list3[2:])

['C', 'D', 'E', 'F', 'G']

Copy list3 into a list4 using the slicing notation.

In [38]:
list4=list3[:]
print(list4)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Create the following tuple variable: tuple1=(1,2,3,4,5) and print it.

In [39]:
tuple1=(1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

Try to change the first item in the tuple list to the number 7.

In [88]:
#tuples are immutable hence cant be changed once created

tuple1[0]=7

TypeError: 'tuple' object does not support item assignment

### Step 3 - IF and For-Loop Statements

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and print the new list.

In [40]:
colors=['red','yellow','green','black','white']
print(colors)

['red', 'yellow', 'green', 'black', 'white']

Print "Yes" if the "Black" value inside the colors list.

In [42]:
if 'black' in colors:
    print("yes")

yes

Print "Yes" if the "Black" value inside the colors list and the "Pink" value is not inside the colors list, otherwise print "No".

In [43]:
if 'black' in colors and 'pink' not in colors:
    print("yes")
else:
    print("no")

yes

Create the following variable: num1=50. Print 'More than 100' if the num1>=100. Print 'More than 40' if num1>=40.

In [45]:
num1=50
if num1>=100:
    print("more than 100")
elif num1>=40:
    print("more than 40")

more than 40

Scan the colors list and per each item in the list print the value and the index location.

In [46]:
for index, color in enumerate(colors):
    print(f"Index {index}: {color}")

Index 0: red
Index 1: yellow
Index 2: green
Index 3: black
Index 4: white

Print the numbers 1 to 30 using the range() function.

In [50]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

Print the calculation of multiplying the numbers 10,15,20 with the numbers 1,2,3,4,5,6,7,8,9,10 (tip - use nested loops and the range function).

In [51]:
# Define the two sets of numbers
numbers1 = [10, 15, 20]
numbers2 = range(1, 11)  # Numbers from 1 to 10

# Nested loop to compute and print the products
for num1 in numbers1:
    for num2 in numbers2:
        product = num1 * num2
        print(f"{num1} * {num2} = {product}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

### Step 4 - Functions

Define a function called check_color that is getting as input a list of colors and also a color value. If the color value exist in the list it will return 'Yes', otherwise it will return 'No'.

In [52]:
def check_color(color_list,color_value):
    if color_value in color_list:
        return("yes")
    else:
        return("no")

Create the following list: colors = ['Red', 'Yellow', 'Green', 'Black', 'White'] and then call the function check_color to check if the 'Green' color in that list.

In [53]:

def check_color(color_list, color_value):
    if color_value in color_list:
        return 'Yes'
    else:
        return 'No'

colors = ['Red', 'Yellow', 'Green', 'Black', 'White']

color_to_check = 'Green'
result = check_color(colors, color_to_check)

print(f"Is '{color_to_check}' in the colors list? {result}")  # Output: Is 'Green' in the colors list? Yes

Is 'Green' in the colors list? Yes

Call the function check_color to check if the 'Pink' color in that list but this time while passing a copy of that list (tip - use the slice notation).

In [55]:
colors_copy = colors[:]
color_to_check = 'Pink'
result = check_color(colors_copy, color_to_check)
print(f"Is '{color_to_check}' in the colors list? {result}")

Is 'Pink' in the colors list? No

Add a docstring comment to the check_color function definion and then ask Python to display information about the function (tip - use the ? mark).

### Step 5 - Dictionaries

Create the following dictionaries friend1, friend2, friend3 with the following info:<br>friend1 with 'Name':'David', 'Age':34, 'Phone':556677.<br>friend2 with 'Name':'Marta', 'Age':29, 'Phone':223344.<br>friend3 with 'Name':'Mark', 'Age':45, 'Phone':333444.

In [57]:
friend1={"name":"david","age":34,"phone":556677}
friend2={"name":"marta","age":29,"phone":223344}
friend3={"name":"mark","age":45,"phone":333444}

Print the 'Name' and 'Age' value for friend1.

In [58]:
print(friend1["name"])
print(friend1["age"])

david
34

Print the complete friend2 dictionary.

In [59]:
print(friend2)

{'name': 'marta', 'age': 29, 'phone': 223344}

Add the following information to friend1, friend2, friend3: David 'Birthday' is '3.6', Marth 'Birthday' is '22.4', Mark 'Birthday' is '20.1'.

In [60]:
friend1["birthday"]='3.6'
friend2["birthday"]='22.4'
friend3["birthday"]='20.1'
print(friend1)
print(friend2)
print(friend3)

{'name': 'david', 'age': 34, 'phone': 556677, 'birthday': '3.6'}
{'name': 'marta', 'age': 29, 'phone': 223344, 'birthday': '22.4'}
{'name': 'mark', 'age': 45, 'phone': 333444, 'birthday': '20.1'}

Print friend1, friend2, friend3.

In [61]:
print(friend1)
print(friend2)
print(friend3)

{'name': 'david', 'age': 34, 'phone': 556677, 'birthday': '3.6'}
{'name': 'marta', 'age': 29, 'phone': 223344, 'birthday': '22.4'}
{'name': 'mark', 'age': 45, 'phone': 333444, 'birthday': '20.1'}

Update friend2 phone number to: '112233'.

In [62]:
friend2["phone"]='112233'
print(friend2)

{'name': 'marta', 'age': 29, 'phone': '112233', 'birthday': '22.4'}

Remove 'Phone' from friend1 and print the updated dictionaries.

In [64]:
friend1.pop("phone")
print(friend1)

{'name': 'david', 'age': 34, 'birthday': '3.6'}

Create an empty list variable called myFriends.

In [69]:
myFriends=[]

Add the three dictionaries: friend1, friend2, friend3 to the myFriends list.

In [71]:
myFriends.append(friend1)
myFriends.append(friend2)
myFriends.append(friend3)
print(myFriends)

[{'name': 'david', 'age': 34, 'birthday': '3.6'}, {'name': 'marta', 'age': 29, 'phone': '112233', 'birthday': '22.4'}, {'name': 'mark', 'age': 45, 'phone': 333444, 'birthday': '20.1'}, {'name': 'david', 'age': 34, 'birthday': '3.6'}, {'name': 'marta', 'age': 29, 'phone': '112233', 'birthday': '22.4'}, {'name': 'mark', 'age': 45, 'phone': 333444, 'birthday': '20.1'}]

Print the first item in the myFriends list and then print just the 'Name' of the second item in the list."

In [73]:
print(myFriends[0])
print(myFriends[1]["name"])

{'name': 'david', 'age': 34, 'birthday': '3.6'}
marta

Loop through the myFriends list and check which friend is the oldest and print his/her name.

In [74]:
oldest_name = ""
max_age = -1
for friend in myFriends:
    if friend["age"] > max_age:
        max_age = friend["age"]
        oldest_name = friend["name"]
print(oldest_name)

mark

### Step 6 - Classes, Objects, Attributes, and Methods

Define a new class called: Book with the following definition: 
1. Attributes to be initalized during a new object creation: name, author, pages, price.
2. One method called update_price that will get as a parameter an updated price and adjust the object price attribute.

In [75]:
class book:
    def __init__(self,name,author,pages,price):
        self.name=name
        self.author=author
        self.pages=pages
        self.price=price
    def update_price(self,new_price):
        self.price=new_price

Create two objects from the new class: book1, book2 with the following info:
1. book1: 'Python for Begineers', 'David', 240, 99
2. book2: 'Machine Learning for Begineers', 'Marta',320, 199

In [79]:
class Book:
    def __init__(self, name, author, pages, price):
        self.name = name
        self.author = author
        self.pages = pages
        self.price = price
    
    def update_price(self, new_price):
        self.price = new_price


book1 = Book('Python for Beginners', 'David', 240, 99)
book2 = Book('Machine Learning for Beginners', 'Marta', 320, 199)

# Print attributes of book1
print("Book 1:")
print(f"Name: {book1.name}")
print(f"Author: {book1.author}")
print(f"Pages: {book1.pages}")
print(f"Price: ${book1.price}")
print()

# Print attributes of book2
print("Book 2:")
print(f"Name: {book2.name}")
print(f"Author: {book2.author}")
print(f"Pages: {book2.pages}")
print(f"Price: ${book2.price}")

Book 1:
Name: Python for Beginners
Author: David
Pages: 240
Price: $99

Book 2:
Name: Machine Learning for Beginners
Author: Marta
Pages: 320
Price: $199

Print the name and price of book1.

In [80]:
# Define the Book class
class Book:
    def __init__(self, name, author, pages, price):
        self.name = name
        self.author = author
        self.pages = pages
        self.price = price
    
    def update_price(self, new_price):
        self.price = new_price

# Create an instance of the Book class (book1)
book1 = Book('Python for Beginners', 'David', 240, 99)

# Print name and price of book1
print(f"Name of book1: {book1.name}")
print(f"Price of book1: ${book1.price}")

Name of book1: Python for Beginners
Price of book1: $99

Update the price of book1 to 79 using the object method and print the name and price again.

In [81]:
# Define the Book class
class Book:
    def __init__(self, name, author, pages, price):
        self.name = name
        self.author = author
        self.pages = pages
        self.price = price
    
    def update_price(self, new_price):
        self.price = new_price

# Create an instance of the Book class (book1)
book1 = Book('Python for Beginners', 'David', 240, 99)

# Print current name and price of book1
print(f"Name of book1: {book1.name}")
print(f"Current Price of book1: ${book1.price}")

# Update the price of book1 using the update_price method
book1.update_price(79)

# Print updated name and price of book1
print(f"Name of book1 after update: {book1.name}")
print(f"Updated Price of book1: ${book1.price}")

Name of book1: Python for Beginners
Current Price of book1: $99
Name of book1 after update: Python for Beginners
Updated Price of book1: $79

### Step 7 - Importing Modules

Import the following modules:
1. random module with alias rd
2. math module 
3. statistics module

In [82]:
import random as rd
import math
import statistics

Generate 10 random integer numbers between 0 to 20 and store them in a list variable called myrandom. Print the new list.

In [85]:
import random
myrandom = [random.randint(0, 20) for _ in range(10)]
print(myrandom)

[6, 2, 1, 9, 13, 13, 14, 19, 8, 1]

Calculate and print the following calculation : sin(0.5*pi) * (2^8).

In [86]:
import math

# Calculate sin(0.5 * pi)
sin_value = math.sin(0.5 * math.pi)

# Calculate 2^8
power_value = 2 ** 8

# Calculate the result
result = sin_value * power_value

# Print the result
print("Result of sin(0.5*pi) * (2^8) =", result)

Result of sin(0.5*pi) * (2^8) = 256.0

Print the arithmetic mean and the standard deviation of the numbers in the myrandom list.

In [87]:
import statistics

# Assuming myrandom is already defined with the list of random numbers
myrandom = [18, 5, 12, 1, 9, 20, 17, 4, 19, 10]

# Calculate arithmetic mean
mean = statistics.mean(myrandom)

# Calculate standard deviation
std_dev = statistics.stdev(myrandom)

# Print the results
print("Arithmetic Mean:", mean)
print("Standard Deviation:", std_dev)

Arithmetic Mean: 11.5
Standard Deviation: 6.819090848492928

### End of document
************************