## Tuples

Tuples in Python are immutable sequences, typically used to store collections of heterogeneous data. Once a tuple is created, its contents cannot be altered, making it useful for data that should not change. Here's a comprehensive guide to understanding and using tuples in Python:

### Creating Tuples

1. **Using parentheses `()`**
   ```python
   my_tuple = (1, 2, 3)
   ```

2. **Without parentheses (comma-separated values)**
   ```python
   my_tuple = 1, 2, 3
   ```

3. **Single-element tuples** (note the trailing comma)
   ```python
   single_element_tuple = (1,)
   ```

4. **Using the `tuple()` function**
   ```python
   my_tuple = tuple([1, 2, 3])
   ```

### Accessing Tuple Elements

- **Using indexing**
  ```python
  my_tuple = (1, 2, 3)
  print(my_tuple[0])  # Output: 1
  ```

- **Using negative indexing**
  ```python
  my_tuple = (1, 2, 3)
  print(my_tuple[-1])  # Output: 3
  ```

- **Slicing**
  ```python
  my_tuple = (1, 2, 3, 4, 5)
  print(my_tuple[1:3])  # Output: (2, 3)
  ```

### Tuple Operations

1. **Concatenation**
   ```python
   tuple1 = (1, 2)
   tuple2 = (3, 4)
   result = tuple1 + tuple2
   print(result)  # Output: (1, 2, 3, 4)
   ```

2. **Repetition**
   ```python
   my_tuple = (1, 2)
   result = my_tuple * 3
   print(result)  # Output: (1, 2, 1, 2, 1, 2)
   ```

3. **Membership Testing**
   ```python
   my_tuple = (1, 2, 3)
   print(2 in my_tuple)    # Output: True
   print(4 not in my_tuple)  # Output: True
   ```

4. **Length**
   ```python
   my_tuple = (1, 2, 3)
   print(len(my_tuple))  # Output: 3
   ```

5. **Iteration**
   ```python
   my_tuple = (1, 2, 3)
   for item in my_tuple:
       print(item)
   # Output:
   # 1
   # 2
   # 3
   ```

### Tuple Methods

1. **`.count(x)`** - Returns the number of times `x` appears in the tuple.
   ```python
   my_tuple = (1, 2, 3, 1, 1)
   print(my_tuple.count(1))  # Output: 3
   ```

2. **`.index(x)`** - Returns the index of the first occurrence of `x` in the tuple.
   ```python
   my_tuple = (1, 2, 3, 1, 1)
   print(my_tuple.index(2))  # Output: 1
   ```

### Nesting and Unpacking Tuples

1. **Nesting Tuples**
   ```python
   nested_tuple = (1, (2, 3), (4, 5, 6))
   print(nested_tuple[1])  # Output: (2, 3)
   print(nested_tuple[1][1])  # Output: 3
   ```

2. **Unpacking Tuples**
   ```python
   my_tuple = (1, 2, 3)
   a, b, c = my_tuple
   print(a, b, c)  # Output: 1 2 3
   ```

   - **Using the asterisk `*` for variable-length unpacking**
   ```python
   my_tuple = (1, 2, 3, 4, 5)
   a, *b, c = my_tuple
   print(a)  # Output: 1
   print(b)  # Output: [2, 3, 4]
   print(c)  # Output: 5
   ```

### Example Usage

Here's a simple example demonstrating various tuple operations:

```python
# Creating a tuple
person = ("Alice", 30, "New York")

# Accessing elements
name = person[0]
age = person[1]
city = person[2]

print(f"Name: {name}, Age: {age}, City: {city}")

# Unpacking the tuple
name, age, city = person
print(f"Name: {name}, Age: {age}, City: {city}")

# Nested tuple
nested_tuple = ("Alice", (30, "New York"))
print(nested_tuple[1])  # Output: (30, 'New York')

# Looping through a tuple
for item in person:
    print(item)

# Tuple methods
print(person.count("Alice"))  # Output: 1
print(person.index(30))  # Output: 1
```

### Immutability and Use Cases

The immutability of tuples makes them useful in scenarios where you need a collection of items that should not be changed. Common use cases include:

- Returning multiple values from a function.
- Using tuples as keys in dictionaries (since they are hashable).
- Grouping related data together without the overhead of a class.

By understanding and effectively using tuples, you can handle immutable collections of data in Python efficiently.

### creating tuples

In [3]:
mytuple=('purity','matroba','keith')
print(mytuple)

('purity', 'matroba', 'keith')

### printing the length of tuples

In [4]:
print(len(mytuple))

3

### accessing tuple items

In [5]:
print(mytuple[1]) #this prints the second item in the tuple

matroba

### printing range of indexes

In [6]:
mytuple=(1,2,3,4,5,6)
print(mytuple[2:5])

(3, 4, 5)

In [7]:
print(mytuple[:4])

(1, 2, 3, 4)

In [8]:
print(mytuple[-4:-1])

(3, 4, 5)

### change tuple values

In [9]:
x = ("pen","pencil","book")
y = list(x)
y[1]="rubber"
print(y)

['pen', 'rubber', 'book']

### adding items to a tuple

In [10]:
thistuple=("orange","banana","cherry")
y = list(thistuple)
y.append("apple")
print(y)

['orange', 'banana', 'cherry', 'apple']

In [11]:
thistuple=("orange","banana","cherry")
x = ("apple",)
thistuple += x
print(thistuple)

('orange', 'banana', 'cherry', 'apple')

### unpacking tuples
- `- this is extracting the values back into the variables`

In [12]:
fruits=("apples","oranges","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apples
oranges
cherry

### loop through a tuple

In [13]:
mytuple=("jane","rose","grace") 
for x in mytuple:
    print(x)

jane
rose
grace

In [14]:
mytuple=("jane","rose","grace")
for i in range(len(mytuple)):
   print(i)

0
1
2

In [15]:
mytuple=("jane","rose","grace")
i=0
while i < len(mytuple):
   print(mytuple[i])
   i = i+1

jane
rose
grace

### joining tuples
- `- we use + operator to join two or more tuples`

In [16]:
tuple1 = ("jane","rose","grace")
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('jane', 'rose', 'grace', 1, 2, 3)