## sets

## creating sets

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [2]:
another_set = set([1, 2, 3, 4, 5])
print(another_set)

{1, 2, 3, 4, 5}

In [4]:
empty_set = set()    #you cannot create an empty set using curly brackets as it will create an empty dictionary
print(empty_set)

set()

In [5]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

## Basic Set Operations
these include:
- `-Adding elements`
- `-Removing elements`
- `Checking membership`

In [6]:
myset = {1, 2, 3}
myset.add(4)
print(myset)

{1, 2, 3, 4}

In [8]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [9]:
my_set.discard(2)
print(my_set)

{1, 3}

In [10]:
element = my_set.pop()
print(element)
print(my_set)

1
{3}

In [11]:
my_set.clear()
print(my_set)

set()

In [12]:
my_set = {1, 2, 3}
print(2 in my_set)
print(5 in my_set)

True
False

## Set Operations
These include:
- `-Union`
- `-Intersection`
- `-Difference`
- `-Symmetric Difference`

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [14]:
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [15]:
intersection_set = set1 & set2
print(intersection_set)

{3}

In [16]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [17]:
difference_set = set1 - set2
print(difference_set)

{1, 2}

In [18]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [19]:
sym_diff_set = set1 ^ set2
print(sym_diff_set)

{1, 2, 4, 5}

In [20]:
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)

{1, 2, 4, 5}

## accessing set items

In [22]:
thisset = {"apple", "banana", "cherry"}   #looping through the set
for x in thisset:
  print(x)

cherry
apple
banana

In [23]:
thisset = {"apple", "banana", "cherry"}   #Checks if "banana" is present in the set

print("banana" in thisset)

True

In [24]:
thisset = {"apple", "banana", "cherry"}  #Checks if "banana" is NOT present in the set

print("banana" not in thisset)

False